body
{
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	text-align: center;
}

header
{
	background-color: #635bd4;
	padding: 35px;
	box-shadow:0 0 3px #000 ;
	}
	
header li
{
	display: inline;
	padding-left: 45px;
}	

header li a
{
	color: #635bd4;
	text-decoration: none;
	padding: 13px;
}

header li a
{
	color: #635bd4;
	text-decoration: none;
	padding: 13px;
	transition: .3s ease;
}

header li a:hover
{
color: royalblue;
}

header ul #contact a:hover
{
	background-color: blue;
}	

header li img
{
	width: 200px;
	height: 130px;
	float: left;
	margin-top: -60px;
}

header li img
{
	width: 200px;
	height: 130px;
	margin-top: -60px;
}
header li img
{
	width: 200px;
	height: 130px;
	margin-top: -60px;
}
header li img
{
	width: 200px;
	height: 130px;
	margin-top: -50px;
}
.active
{
	color: royalblue;
}