<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conrad Sheridan - Website</title>

    <!-- Favicon -->
    <link rel="icon" href="IMG/Website logo.png" type="image/x-icon">

    <!-- Text style Google fonts integration -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/test.css">
    </head>

    <!-- Banner -->
<header>    
    <img class="logo" src="IMG/Website logo.png" alt="Website Logo">
    <h4 style="color: #fffff6;">Conrad <br>Sheridan</h4>
    
    <!-- Navigation links Centre -->
    <nav class="Nav_Links_Centre">
        <li><a href="test.html">Home</a></li>
        <li><a href="Personal website-About.html">About me</a></li>
    </nav>

    <!-- Navigation side links -->
    <nav class="Nav_Links_Side">
        <li><a href="https://ulster.joinhandshake.co.uk/stu/users/1395223" target="_blank">Handshake</a></li>
        <li><a href="https://www.linkedin.com/in/conrad-sheridan-67a90725a/" target="_blank">Linkedin</a></li>
        <li><a href="Assets/Conrad Sheridan - CV.pdf" target="_blank">CV</a></li>
    </nav>
</header>

<!-- Main Content -->
<body>
    <!--Introduction-->
    <h1>Conrad Sheridan</h1>
    <!--Personal info/induction-->
    <p style="font-size: 22px;">I'm Conrad, a current undergraduate studying Computer Science at Ulster University aiming to become a Software Engineer.<br>
        <br>I've always had an interest in computing from a young age, mainly from playing games on the computer,
        <br>but when I first learned to write code and see it run, I knew this was a hobby I needed to turn into a career.
        <br> Currently, my skillset consists of HTML, CSS (the skills used in building this website :) Java, and C#.
    </p>
</body>
<br>

<!--Portfolio section-->
<h1>My Projects</h1>
<p style="font-size: 22px;">Some projects I've worked on include Games made in Unreal engine 5 aswell as a website, a mobile app I'm currently working on as a group project in University<br> and a game I'm personally working on made with Godot 4.</p>

<br>
<!--A-level Website-->
<h2>My first ever website
    <a href="file:///D:/Personal/Programming/Personal Website/First Website/First-Website.html" target="_blank"><p>Link to the Website</p></a>
<br>

<!--A-level Games development-->
<h3>Unreal engine projects</h3>

<!---Video 1 Unreal--><video width="640" height="360" controls>
    <source src="Assets/A2 video.mp4" type="video/mp4"></video><br>
<!---Video 2 Unreal--><video width="640" height="360" controls>
          <source src="Assets/Recyco video.mp4" type="video/mp4"></video>

    <br></br>
    <!--Godot Project-->
    <h3>Godot game</h3><br>
<!---Godot Video-->

<!--Mobile dev App-->
<h3>Bin Buddy</h3>
<a href="#top">Back to top of page</a>



<!-- Footer -->
<footer class="footer">
    <img class="logo" src="IMG/Website logo.png" alt="Website Logo" margin="45px">
    <div class="container">
        <div class="row">
            <div class="footer-col">
            </div>
            <div class="footer-col">
                <h4>Portfolio</h4>
                <ul>
                    <li><a href="file:///D:/Personal/Programming/Personal Website/First Website/First-Website.html" target="_blank">Ríomhaire OS
                    <li><a href="pages/Personal website-Projects.html">Unreal
                    <li><a href="pages/Personal website-Projects.html">Godot
                    <li><a href="pages/Personal website-Projects.html">Bin Buddy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Main</h4>
                <ul>
                    <li><a href="Index/test.html">Home</a></li>
                    <li><a href="Personal website-About.html">About</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact me</h4>
                <div class="social-links">
                    <a href="https://ulster.joinhandshake.co.uk/stu/users/1395223" target="_blank">
                        <img src="IMG/Handshake_Footer.svg" alt="Handshake" style="width: 30px; height: 30px;">
                    </a>
                    <a href="https://www.linkedin.com/in/conrad-sheridan-67a90725a/" target="_blank">
                        <img src="IMG/Linkedin.svg" alt="LinkedIn" style="width: 30px; height: 30px;">
                    </a>
                    <a href="Assets/Conrad Sheridan - CV.pdf" target="_blank">
                        <img src="IMG/CV.svg" alt="CV" style="width: 30px; height: 30px;">
                    </a>
                </div>
                <h5 id="lastUpdated" style="color: #bbbbbb;">Last updated: 11/11/24</h5>
                
    </div>
    <div class="legal-col">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </div>
</footer>
</html>
